<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Documentation for MIT Repository Service, V1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIT Repository Service Documentation, V2">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.tocify.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/repository/style.css"/>

    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</head>
<body class="portal">
    {% csrf_token %}
    <div id="docs_container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div id="docs_nav"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="docs_inner_wrapper">
                    <h1>Introduction to the repository service, V2</h1>

                    <h2>Servers</h2>
                    <p>
                        We currently support three servers, a production server, a staging server, and a
                        development server. We encourage you to test your app against
                        the development server before switching to the production service.
                        Note that data on the development server has no permanence or
                        guarantee against changes.
                    </p>
                    <p>
                        Development server:
                        <pre>https://qbank-dev.mit.edu/api/v2/repository/</pre>
                        Staging server:
                        <pre>https://qbank-demo.mit.edu/api/v2/repository/</pre>
                        Production server:
                        <pre>https://qbank.mit.edu/api/v2/repository/</pre>
                    </p>
                    <h2>Developer Notes</h2>
                    <p>
                        <ul>
                            <li>
                                Files will only be returned to you as expiring URLs,
                                for security reasons. If you want the original file, you
                                will have to download it yourself.
                            </li>
                            <li>You must use one of the authentication methods outlined
                            in this document. There is no guest access.</li>
                            <li>If you need a public / private keypair, contact
                            assessments-admin [at] mit [dot] edu.</li>
                        </ul>
                    </p>
                    <h1 id="authentications">Authentication</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        RESTful API requires use of signature verfication via public / private key, like Amazon AWS.
                        Currently, we use a library that follows the draft IETF standards for signing HTTP requests:
                        <pre><a href="https://datatracker.ietf.org/doc/draft-cavage-http-signatures/">https://datatracker.ietf.org/doc/draft-cavage-http-signatures/</a></pre>
                        Apps that will use a signed HTTP request will need to pass in the username of the
                        user they with to authenticate. This should be in an 'X-Api-Proxy' header. The app's
                        public key should go in the 'X-Api-Key' header.
                    </p>
                    <h2>Touchstone Authentication</h2>
                    <p>
                        In a web browser, if you have been granted permission, you may
                        view an interactive version of the API. This can help with debugging
                        and testing, as it lets you POST, PUT, GET, and DELETE objects
                        within each endpoint of the service. To reach this endpoint,
                        add "/touchstone/" to the root URL of any call.
                        <pre>https://qbank-dev.mit.edu/api/v2/repository/</pre>
                        Becomes:
                        <pre>https://qbank-dev.mit.edu/touchstone/api/v2/repository/</pre>
                        <img class="doc_image" src="{{ STATIC_URL }}images/service_in_browser.png" alt="Screenshot of the API's UI in a browser."/>
                    </p>
                    <h2>Non-LTI Authentication</h2>
                    <p>
                        When signing an API request, the following headers MUST be included in the signature calculation:
                        <pre>['request-line','accept','date','host','x-api-proxy']</pre>
                        Where request-line include both method and path of the request, and x-api-proxy is the
                        kerberos username of the student / user. They MUST also appear in that
                        order. The HTTP_AUTHORIZATION header should look something like:
                        <pre>'Signature headers="request-line accept date host x-api-proxy",keyId="some-key",algorithm="hmac-sha256",signature="5CUB27wqW+oPx0ZI/xMhCaU3v/3My4JMeeP5PbWO9Xg="'</pre>
                        You can compare your hashing algorithm with the following input / output.
                        <pre>Headers     : {'Date': 'Tue, 17 Jun 2014 19:26:25 GMT', 'Host': 'testserver:80', 'X-Api-Proxy': 'cjshaw@mit.edu', 'X-Api-Key': 'afakepublicKey!23', 'Accept': 'application/json'}
Secret key  : mdnAf0vTHSU/Ap1qbzZDFblHdiepcPZZ7C7B6p98
Method      : 'GET'
Path        : '/api/v2/assessment/banks/'

Output      : 'Signature headers="request-line accept date host x-api-proxy",keyId="afakepublicKey!23",algorithm="hmac-sha256",signature="tbxfhvEDF/XNvcKiGLLklBpj8ewVVoXfTqqYVwwGV9Q="'</pre>
                        Note that the path requested must be un-encoded. Example:
                        <pre>'/api/v2/assessment/banks/assessment.Bank:53a071c7ea061a0abff13681@birdland.mit.edu/'</pre>
                        Instead of:
                        <pre>'/api/v2/assessment/banks/assessment.Bank%3A53a071c7ea061a0abff13681%40birdland.mit.edu/'</pre>
                    </p>
                    <h2>LTI Authentication</h2>
                    <p>
                        If passing in LTI student data, a second set of parameters needs to be used in the
                        signature calculation (in this order):
                        <pre>['request-line','accept','date','host','x-api-proxy','lti-user-id','lti-tool-consumer-instance-guid','lti-user-role','lti-bank']</pre>
                        Note that this is NOT needed for instructor actions -- do those with non-LTI
                        headers (as above), and make sure that the X-Api-Proxy user is a staff / instructor
                        in the Assessment Service.
                    </p>
                    <h3>Example Workflows</h3>
                    <p>
                        <p>You can see an example workflow from an LTI provider for an instructor
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_instructor.pdf">here</a>.
                        </p>
                        <p>You can see an example workflow from an LTI provider for a learner
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_learner.pdf">here</a>.
                        </p>
                    </p>
                    <h1>Repositories</h1>
                    <h2>Introduction</h2>
                    <p>
                        Everything in the service is relative to a Repository.
                        Assets live inside of repositories, and asset contents live
                        inside of assets. The identifier part of each assessment /
                        repository ID will correlate (i.e. the repository for assessment
                        bank <code>assessment.Bank%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>
                        will have ID <code>repository.Repository%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>).
                    </p>
                    <h2>Authorizations</h2>
                    <p>
                        Authorizations are managed at the repository level.
                        A person can be given authorizations to specific actions
                        inside of a repository, such as looking up assets, or
                        creating assets. Typically, these are restricted to faculty.
                    </p>
                    <h2>Data Pagination</h2>
                    <p>
                        Note that all "LIST" type endpoints (repositories, assets) will return
                        a list in the "data['results']" attribute, as well as a paginated
                        set of data. "next" and "previous" links are included for your
                        convenience. To get all data in a single page, you would append
                        <code>?page=all</code> to your request URL. To get a specific page,
                        you can include <code>?page=1</code>, substituting the desired
                        page number. Examples are below, in each section. Note that by
                        default, lists are returned in descending chronological order
                        (newest record first).
                    </p>
                        For "LIST" endpoints, by default the service does not
                        include file URLs for item files. This is to optimize performance,
                        because the file-signing process for AWS can take quite long for
                        a large list of items (and is rate-limited).
                        If you, as a developer, decide to get all the
                        files up front with the list, you can include a <code>?files</code>
                        parameter in your request.
                    </p>
                    <p>
                        Any "DETAILS" type endpoints
                        will return the attributes directly in the object. For example,
                        the repository list below shows two repositories in the
                        "data" attribute. Below, we will see that individual repository
                        details are embedded directly in a return object.
                    </p>
                    <h2 id="repositoriesList">Listing all repositories</h2>
                    <p>
                        <pre>GET /api/v2/repository/repositories/</pre>
                        A list of all repositories on the server is returned.
                        Where possible, the service will always return a "_links" attribute
                        to indicate what other information is available.
                        <pre>{
    "data": {
        "count": 20,
        "next": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories?page=2",
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "Crosslinks repo",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "For general storage of Crosslinks assets",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Repository",
                "id": "repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555e340133bb727a2cd6a51a@oki-dev.MIT.EDU/"
            },
            {
                "displayName": {
                    "text": "foo",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "bar",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Repository",
                "id": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied. You do not have rights to view assessment banks."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view banks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/repository/repositories/</pre>
                        A simple JSON structure needs to be sent to this endpoint, with
                        the bank name and description.
                        <pre>{"name" : "a new repository","description" : "this is a test"}</pre>
                        The new bank structure is returned, with the <code>repository_id</code>.
                        <pre>{
    "displayName": {
        "text": "a new repository",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "this is a test",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Repository",
    "id": "repository.Repository%3A557f378dcc83e24ee6aa1a52%40dhcp-18-189-99-232.dyn.mit.edu"
}</pre>
                    </p>
                    <h3 id="orchestratingRepositories">Orchestrating Repositories</h3>
                    <p>
                        To coordinate IDs across other services, you can also provide a
                        <code>bank_id</code>, and the repository service will automatically
                        orchestrate it. For example, if you have an assessment bank with
                        ID <code>assessment.Bank%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU</code>,
                        you can pass that in your CREATE payload as <pre>{
    "bankId": "assessment.Bank%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                        and the resulting repository will have ID
                        <code>repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU</code>.

                        NOTE: the middle, identifier of the two IDs matches!
                    </p>
                    <h2>Managing a specific repository</h2>
                    <p>
                        Once you have a <code>repository_id</code>, you can view and
                        manipulate the specific repository.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/repository/repositories/&lt;repository_id&gt;/</pre>
                        This returns the repository details. Note that the data is
                        embedded directly in the returned object, not
                        in a list or as a child of another attribute.
                        <pre>{
    "displayName": {
        "text": "Crosslinks repo",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For general storage of Crosslinks assets",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/",
        "assets": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/assets/",
        "compositions": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/compositions/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Repository",
    "id": "repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied. You do not have rights to view this bank's details."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view individual banks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A repository with the specified <code>repository_id</code> was not
                        found. Please verify it exists in the service through the
                        <a href="#repositoriesList">banks</a> endpoint.
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/repository/repositories/&lt;repository_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete this repository with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>406: {"details": "Repository is not empty. Please delete its contents first."}</pre>
                        This repository has assets or compositions in it. You need to delete those first,
                        before you can delete the entire repository.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/repository/repositories/&lt;repository_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{"name" : "My repository"}</pre>
                        The updated repository structure is returned:
                        <pre>{
    "displayName": {
        "text": "My repository",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For general storage of Crosslinks assets",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/",
        "assets": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/assets/",
        "compositions": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/compositions/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Repository",
    "id": "repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit the attributes of the repository with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h1>Assets</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        Assets can be anything. Currently, we support URL-based and file assets.
                        If you upload a file, it will be stored remotely, and a secure, expiring
                        URL supplied to you as the source of the asset.
                    </p>
                    <p>
                        Assets are composed of AssetContents. These can be different representations
                        of the same thing. One example would be a lecture video. You could have
                        one AssetContent for *.mp4 encoding and another for *.webm encoding. Or even
                        one AssetContent for each level of encoding resolution.
                    </p>
                    <h2 id="assetList">Listing all assets in a repository</h2>
                    <p>
                        Because assets must belong to a repository, it is assumed that
                        your app will know the <code>repository_id</code> of interest.
                        <pre>GET /api/v2/repository/repositories/&lt;repository_id&gt;/assets/</pre>
                        Since this is a LIST type call, assets are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "distributeAlterations": null,
                "description": {
                    "text": "Asset container for: Avatar for luwenh@mit.edu",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "publishedDate": null,
                "providerLinkIds": [],
                "assetContents": [
                    {
                        "displayName": {
                            "text": "",
                            "languageTypeId": "639-2%3AENG%40ISO",
                            "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                            "scriptTypeId": "15924%3ALATN%40ISO"
                        },
                        "description": {
                            "text": "",
                            "languageTypeId": "639-2%3AENG%40ISO",
                            "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                            "scriptTypeId": "15924%3ALATN%40ISO"
                        },
                        "recordTypeIds": [],
                        "url": "https://d3gllkdydocoif.cloudfront.net/555e340133bb727a2cd6a51a/luwen_huang_1433786527.jpg?Expires=1434398054&Signature=ZnwsHIEp~rB91dJYk0EVFfgn98AxhvemTIyEUbDQHCRPondtp3G-b7WGm3MkrWlby7pKfPwze5yVTd9muF6UlS505O4YLCYoiBfVffxgZn6gApJP5is7PJAQq3lz8g7mCeZqkOiVOjWpHOnrCBMjF9IFP-qCTtBVh~qdOpSswXxASjGAO5-Z8WQeGRAMR3o3rU2Vg5fp02OH-xG0ijR84fibfqL-ITxi9KhcINzAf3SljjP1k3z3k60QRM8NPVuqKuQrWznY1yv863jHKxeXqwa77jVdqx~ylb7pmr9WyovKPAj0QUO4GJOvwnip~0f3HPfftZ8IsPzCN7ae62z~kg__&Key-Pair-Id=APKAIGRK7FPIAJR675NA",
                        "type": "AssetContent",
                        "repositoryId": "repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU",
                        "assetId": "repository.Asset%3A5575d89f33bb728328581506%40oki-dev.MIT.EDU",
                        "accessibilityTypeId": "NoneType%3ANONE%40dlkit.mit.edu",
                        "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                        "data": "",
                        "id": "repository.AssetContent%3A5575d8a033bb728328581507%40oki-dev.MIT.EDU"
                    }
                ],
                "copyrightRegistration": "",
                "distributeCompositions": null,
                "createdDate": null,
                "id": "repository.Asset%3A5575d89f33bb728328581506%40oki-dev.MIT.EDU",
                "distributeVerbatim": null,
                "publicDomain": null,
                "displayName": {
                    "text": "Avatar for luwenh@mit.edu",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "copyright": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "recordTypeIds": [],
                "title": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "sourceId": "",
                "principalCreditString": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555e340133bb727a2cd6a51a@oki-dev.MIT.EDU/assets/repository.Asset:5575d89f33bb728328581506@oki-dev.MIT.EDU/",
                "repositoryId": "repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU",
                "compositionId": "",
                "published": null,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Asset"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/assets/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view assets in this repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/repository/repositories/&lt;repository_id&gt;/assets/&lt;asset_id&gt;/</pre>
                        Currently you can update an asset's:
                        <ul>
                            <li><code>name</code>: the displayName text</li>
                            <li><code>description</code>: the description text</li>
                            <li><code>assignedRepositoryIds</code>: the list of repositories the asset belongs to</li>
                        </ul>
                    </p>
                    <h4>Updating the assignedRepositoryIds</h4>
                    <p>
                        An asset always has a "home" repository, plus zero or more secondary repositories.
                        This is reflected in its <code>assignedRepositoryIds</code> list, where the first
                        Id is the home repository. Access control and authorization can then be managed
                        via the repositories. For example, you may have two repositories, <strong>Draft</strong>
                        and <strong>Published</strong>, where only you have view / edit privileges on
                        <strong>Draft</strong>, but the general public as view privileges on <strong>Published</strong>.
                        As you write articles, you create them in the
                        <strong>Draft</strong> repository. When they are ready for publication, you can add the
                        <strong>Published</strong> repository's ID to the <code>assignedRepositoryIds</code> list,
                        making available for others to view (but perhaps not edit). There exists only one copy
                        of your article in the service, but it can be managed with different authorization rules
                        by assigning it to different repositories.
                        <br/>
                        <br/>
                        NOTE: the order in which you PUT the <code>assignedRepositoryIds</code> is the order
                        in which they will be managed...be careful not to inadvertently assign the asset to
                        someone else, you may not be able to retrieve or edit it if you do not have the proper permissions
                        on the new home repository.
                    </p>
                    <h1>Compositions</h1>
                    <h2>Introduction</h2>
                    <p>
                        Compositions are a structural organization of assets. They can contain
                        children (other compositions) or assets. In general, they do not have
                        any attributes, but rather act as containers.
                    </p>
                    <p>
                        We currently support a set of edX compositions, which do have
                        some attributes. These will be explained in the
                        <a href="#edXCompositions">edX Compositions</a> section.
                    </p>
                    <h2 id="compositionList">Listing all compositions in a repository</h2>
                    <p>
                        Like assets, compositions are always associated with a repository. So
                        it is assumed that you know the <code>repository_id</code> of interest.
                        <pre>GET /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/</pre>
                        Since this is a "LIST" type call, compositions are returned
                        in the "data" attribute.
                        <pre>{
    "data": {
        "count": 2,
        "next": null,
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "sequential",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "a demo sequential",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/compositions/repository.Composition:557f2de633bb72a0fa8356fc@oki-dev.MIT.EDU/",
                "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                "childIds": [
                    "repository.Composition%3A557f2db333bb72a0f455013f%40oki-dev.MIT.EDU"
                ],
                "sequestered": false,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Composition",
                "id": "repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU"
            },
            {
                "displayName": {
                    "text": "a vertical",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "demo",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/compositions/repository.Composition:557f2db333bb72a0f455013f@oki-dev.MIT.EDU/",
                "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                "childIds": [],
                "sequestered": false,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Composition",
                "id": "repository.Composition%3A557f2db333bb72a0f455013f%40oki-dev.MIT.EDU"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU/compositions/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view compositions in this repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2 id="compositionsCreate">Creating</h2>
                    <p>
                        <pre>POST /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/</pre>
                        A JSON data package sent to this endpoint can include <code>children_id</code>s,
                        or those can be added later.
                        <pre>{
    "name" : "a composition",
    "description" : "for demos",
    "childIds" : ["repository.Composition%3A557f2db333bb72a0f455013f%40oki-dev.MIT.EDU"]
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create compositions in the repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Not found."}</pre>
                        One of the supplied <code>children_id</code>s (or a repository with its
                        <code>repository_id</code>) was not
                        found. Please verify it exists in the current repository through the
                        <a href="#compositionList">compositions</a> endpoint (or the
                        <a href="#repositoriesList">repositories</a> endpoint).
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON or did not structure the childIds
                        attribute as a list.
                    </p>
                    <h2 id="compositionGetOne">Managing a specific composition</h2>
                    <p>
                        Once you have a <code>repository_id</code> and a <code>composition_id</code>,
                        you can view and manipulate the specific composition.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/&lt;composition_id&gt;/</pre>
                        This returns the composition details.
                        <pre>{
    "displayName": {
        "text": "sequential",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "a demo sequential",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
    "childIds": [
        "repository.Composition%3A557f2db333bb72a0f455013f%40oki-dev.MIT.EDU"
    ],
    "sequestered": false,
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU/compositions/repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Composition",
    "id": "repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view composition details for the specific repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A composition with the specified <code>composition_id</code> (or a repository with its
                        <code>repository_id</code>) was not
                        found. Please verify it exists in the current repository through the
                        <a href="#compositionList">compositions</a> endpoint (or the
                        <a href="#repositoriesList">repositories</a> endpoint).
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/&lt;composition_id%gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete compositions in the repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Composition Assets</h3>
                    <h4>View current assets</h4>
                    <p>
                        <pre>GET /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/&lt;composition_id&gt;/assets/</pre>
                        Returns a list of assets currently linked to this composition.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "distributeAlterations": null,
                "description": {
                    "text": "Asset container for: my_file",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "publishedDate": null,
                "providerLinkIds": [],
                "assetContents": [
                    {
                        "displayName": {
                            "text": "",
                            "languageTypeId": "639-2%3AENG%40ISO",
                            "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                            "scriptTypeId": "15924%3ALATN%40ISO"
                        },
                        "description": {
                            "text": "",
                            "languageTypeId": "639-2%3AENG%40ISO",
                            "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                            "scriptTypeId": "15924%3ALATN%40ISO"
                        },
                        "recordTypeIds": [],
                        "url": "https://d3gllkdydocoif.cloudfront.net/555c941b33bb72d09b128299/ps_2015_beam_2gages.pdf?Expires=1434399008&Signature=JCyTzMTpPIaJV3CudN24TRgKkLMY78eRCVrQEAmprYFJj-NnHFsHqzoiGcOTVjFcYrNKAOfV7Xw-Z5MzM82h9-ie6qddWZuxoWM-j9k7RBwO2D6EzHS6XHb8wKTxZMTjmGqe~0naYtSa~S0AUnrEcXpuj8c2k-lNHpDTwjVByFAUeg9aYt2nzOZqBI8QxiYYvRqfw9mJOVoFRzLzTX9f--6cbeKNbnFryuomcGgMG~8czJFkvbNuaOzjPlfF8hVjgG~R0IVN-0YtilP~t56sXjNMqe4Zafbzn~Rd8BhQ--FNbx21BmSKqy3g9foUjxpb2swO769KunEA5b9Ay~yfZQ__&Key-Pair-Id=APKAIGRK7FPIAJR675NA",
                        "type": "AssetContent",
                        "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                        "assetId": "repository.Asset%3A555c941b33bb72d02d3075b0%40oki-dev.MIT.EDU",
                        "accessibilityTypeId": "NoneType%3ANONE%40dlkit.mit.edu",
                        "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                        "data": "",
                        "id": "repository.AssetContent%3A555c941b33bb72d02d3075b1%40oki-dev.MIT.EDU"
                    }
                ],
                "copyrightRegistration": "",
                "distributeCompositions": null,
                "createdDate": null,
                "id": "repository.Asset%3A555c941b33bb72d02d3075b0%40oki-dev.MIT.EDU",
                "distributeVerbatim": null,
                "publicDomain": null,
                "displayName": {
                    "text": "my_file",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "copyright": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "recordTypeIds": [],
                "title": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "sourceId": "",
                "principalCreditString": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/compositions/repository.Composition:557f2de633bb72a0fa8356fc@oki-dev.MIT.EDU/assets/../../../assets/repository.Asset:555c941b33bb72d02d3075b0@oki-dev.MIT.EDU/",
                "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                "compositionId": "",
                "published": null,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Asset"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU/compositions/repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU/assets/"
    }
}</pre>
                    </p>
                    <h5>Error Codes</h5>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view composition assets for the specific repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        An assessment with the specified <code>composition_id</code> (or a repository with its
                        <code>repository_id</code>) was not
                        found. Please verify it exists in the current repository through the
                        <a href="#compositionList">compositions</a> endpoint (or the
                        <a href="#repositoriesList">repositories</a> endpoint).
                    </p>
                    <h4 id="compositionAssetPost">Link new asset</h4>
                    <p>
                        <pre>PUT /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/&lt;composition_id&gt;/assets/</pre>
                        Include a list of <code>asset_id</code>s -- this replaces the current list of
                        assetIds. This is a bulk, over-write operation, so use this endpoint to
                        delete linkages, too.
                        <pre>{"assetIds" : ["asset:1@MIT", "assessment:25@MIT"]}</pre>
                    </p>
                    <p>
                        NOTE: You can also include non-asset IDs (like assessment IDs).
                        They will be automatically enclosed in an asset-object, which you can
                        view / add metadata to (like <code>copyright</code> info), but which you cannot edit
                        the underlying assessment attributes (like <code>displayName</code>
                        or <code>description</code>). The original object's ID will be
                        stored in the <code>enclosedObjectId</code> field. <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "assetContent": [],
                "distributeAlterations": null,
                "distributeVerbatim": null,
                "publishedDate": null,
                "providerLinkIds": [],
                "assetContents": [],
                "distributeCompositions": null,
                "copyrightRegistration": "",
                "genusTypeId": "assessment%3AAssessment%40osid.org",
                "createdDate": null,
                "id": "repository.Asset%3A557f314033bb72a0f50a047f%40oki-dev.MIT.EDU",
                "description": {
                    "text": "crosslinks Z transform asssessment",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "publicDomain": null,
                "displayName": {
                    "text": "mc3-objective%3A3921%40MIT-OEIT asssessment",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [
                    "osid-object%3Aenclosure%40ODL.MIT.EDU"
                ],
                "copyright": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "title": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "sourceId": "",
                "principalCreditString": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/compositions/repository.Composition:557f2de633bb72a0fa8356fc@oki-dev.MIT.EDU/assets/../../../assets/repository.Asset:557f314033bb72a0f50a047f@oki-dev.MIT.EDU/",
                "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
                "compositionId": "",
                "enclosedObjectId": "assessment.Assessment%3A556883a033bb72180513e116%40oki-dev.MIT.EDU",
                "published": null,
                "type": "Asset"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU/compositions/repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU/assets/"
    }
}</pre>
                    </p>
                    <h5>Error Codes</h5>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to link assets and compositions in the repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/repository/repositories/&lt;repository_id&gt;/compositions/&lt;composition_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "description" : "an improved version"
}</pre>
                        The updated composition is returned with a 202 code.
                        <pre>{
    "displayName": {
        "text": "sequential",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "an improved version",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
    "childIds": [
        "repository.Composition%3A557f2db333bb72a0f455013f%40oki-dev.MIT.EDU"
    ],
    "sequestered": false,
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU/compositions/repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Composition",
    "id": "repository.Composition%3A557f2de633bb72a0fa8356fc%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit compositions in the repository. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h2 id="edXCompositions">edX Compositions</h2>
                    <p>
                        We currently support a set of edX compositions:
                        <ul>
                            <li>Course</li>
                            <li>Chapter</li>
                            <li>Sequential</li>
                            <li>Split_test</li>
                            <li>Vertical</li>
                        </ul>
                        On creating and updating these assets, you can edit a certain
                        set of attributes. NOTE that all edX compositions will display
                        ALL the attributes, but if they are un-editable, you will see
                        default values. For example, only <code>vertical</code>s have
                        the <code>draft</code> attribute, so the others will, by default,
                        show <code>draft</code> == False.
                    </p>
                    <p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Composition
                                    </th>
                                    <th>
                                        fileName
                                    </th>
                                    <th>
                                        startDate
                                    </th>
                                    <th>
                                        endDate
                                    </th>
                                    <th>
                                        visibleToStudents
                                    </th>
                                    <th>
                                        draft
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-striped">
                                <tr>
                                    <th>course</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                </tr>
                                <tr>
                                    <th>chapter</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                                <tr>
                                    <th>sequential</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                                <tr>
                                    <th>split_test</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                </tr>
                                <tr>
                                    <th>vertical</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>No</th>
                                    <th>Yes</th>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                    <h3>Creating</h3>
                    <p>
                        Genus types must be set on composition creation. You can include
                        the <code>type</code> parameter in the payload, as follows: <pre>{
    "type": "edx-chapter"
}</pre>
                    </p>
                    <p>
                        With the rest of the create payload (or on update), you can then
                        include the other parameters as listed above. NOTE that <code>startDate</code>
                        and <code>endDate</code> should be provided as dictionaries
                        with three parameters: <pre>{
    "year": 2015,
    "month": 1,
    "day": 25
}</pre>
                    </p>
                    <p>
                        edX Composition contains more data than vanilla compositions: <pre>{
    "startDate": {
        "hour": 20,
        "month": 6,
        "second": 39,
        "microsecond": 51661,
        "year": 2015,
        "day": 15,
        "minute": 27
    },
    "displayName": {
        "text": "edx demo",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "here",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [
        "repository-composition%3Aedx-composition%40EDX.ORG"
    ],
    "type": "Composition",
    "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/repository/repositories/repository.Repository:555c941b33bb72d09b128299@oki-dev.MIT.EDU/compositions/repository.Composition:557f353b33bb72a0f76bed4b@oki-dev.MIT.EDU/",
    "repositoryId": "repository.Repository%3A555c941b33bb72d09b128299%40oki-dev.MIT.EDU",
    "childIds": [],
    "texts": {
        "fileName": {
            "text": "",
            "languageTypeId": "639-2%3AENG%40ISO",
            "scriptTypeId": "15924%3ALATN%40ISO",
            "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
        },
        "format": {
            "text": "",
            "languageTypeId": "639-2%3AENG%40ISO",
            "scriptTypeId": "15924%3ALATN%40ISO",
            "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
        }
    },
    "sequestered": false,
    "draft": false,
    "genusTypeId": "edx-composition%3Achapter%40EDX.ORG",
    "endDate": {
        "hour": 23,
        "month": 12,
        "second": 59,
        "microsecond": 999999,
        "year": 9999,
        "day": 31,
        "minute": 59
    },
    "visibleToStudents": true,
    "id": "repository.Composition%3A557f353b33bb72a0f76bed4b%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h3>Querying</h3>
                    <p>
                        On <code>GET</code> of <a href="#compositionList">the list of compositions</a>,
                        you can append a query parameter to filter by edX composition types.
                        <code>?chapter</code> to only get the chapters, for example.
                    </p>
                    <h1>Help</h1>
                    <h2>Contact</h2>
                    Please reach out to assessments-admin [at] mit [dot] edu if you have
                    any issues or questions about this service.
                    <h6>v0.1 June 2015</h6>
                </div>
            </div>
        </div>
    </div>
</body>
</html>