<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Ortho-3D Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ortho-3D Practice Problems">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/lti/style.css" />
    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
    <script type="application/javascript">
        var question = '{{ question }}';
        var manip = '{{ manip }}';
        var frontView = '{{ frontView }}';
        var sideView = '{{ sideView }}';
        var topView = '{{ topView }}';
        var takenId = '{{ takenId }}';
        var sourcedid = '{{ sourcedid }}';
    </script>
</head>
<body class="portal">
    {% csrf_token %}
    <div id="lti_container" class="container-fluid">

    </div>
    <div id="buttons">
        <div class="btn btn-primary checkAnswer" style="display:none;">
            <i class="fa fa-check fa-2x"> </i>
            Check Answer
        </div>
    </div>
    <div id="results">
        <span class="userFeedback"></span>
    </div>
</body>
</html>