.resetSides {
    margin-left: -5px;
    margin-right: -5px;
}

.portal {
    padding-top: 60px;
}

#userProfileAccordion > div {
    background: white;
}

.red {
    color: red;
}

.statusBox {
    padding-top: 15px;
}

.regenKeys {
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.addGroup {
    margin-bottom: 10px;
}

.select2-container {
    width: 80%;
}

.activeUser {
    background-color: lightsteelblue;
}

.doc_image {
    width: 100%;
}

