<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Documentation for MIT Grading Service, V2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIT Grading Service Documentation, V2">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.tocify.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/repository/style.css"/>

    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</head>
<body class="portal">
    {% csrf_token %}
    <div id="docs_container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div id="docs_nav"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="docs_inner_wrapper">
                    <h1>Introduction to the grading service, V2</h1>

                    <h2>Servers</h2>
                    <p>
                        We currently support three servers, a production server, a demo server,
                        and a development server. We encourage you to test your app against
                        the development server before switching to the demo / production service.
                        Note that data on the development and demo servers has no permanence or
                        guarantee against changes.
                    </p>
                    <p>
                        Development server:
                        <pre>https://qbank-dev.mit.edu/api/v2/grading/</pre>
                        Demo server:
                        <pre>https://qbank-demo.mit.edu/api/v2/grading/</pre>
                        Production server:
                        <pre>https://qbank.mit.edu/api/v2/grading/</pre>
                    </p>
                    <h2>Developer Notes</h2>
                    <p>
                        <ul>
                            <li>
                                Files will only be returned to you as expiring URLs,
                                for security reasons. If you want the original file, you
                                will have to download it yourself.
                            </li>
                            <li>You must use one of the authentication methods outlined
                            in this document. There is no guest access.</li>
                            <li>If you need a public / private keypair, contact
                            assessments-admin [at] mit [dot] edu.</li>
                        </ul>
                    </p>
                    <h1 id="authentications">Authentication</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        RESTful API requires use of signature verfication via public / private key, like Amazon AWS.
                        Currently, we use a library that follows the draft IETF standards for signing HTTP requests:
                        <pre><a href="https://datatracker.ietf.org/doc/draft-cavage-http-signatures/">https://datatracker.ietf.org/doc/draft-cavage-http-signatures/</a></pre>
                        Apps that will use a signed HTTP request will need to pass in the username of the
                        user they with to authenticate. This should be in an 'X-Api-Proxy' header. The app's
                        public key should go in the 'X-Api-Key' header.
                    </p>
                    <h2>Touchstone Authentication</h2>
                    <p>
                        In a web browser, if you have been granted permission, you may
                        view an interactive version of the API. This can help with debugging
                        and testing, as it lets you POST, PUT, GET, and DELETE objects
                        within each endpoint of the service. To reach this endpoint,
                        add "/touchstone/" to the root URL of any call.
                        <pre>https://qbank-dev.mit.edu/api/v2/resource/</pre>
                        Becomes:
                        <pre>https://qbank-dev.mit.edu/touchstone/api/v2/resource/</pre>
                        <img class="doc_image" src="{{ STATIC_URL }}images/service_in_browser.png" alt="Screenshot of the API's UI in a browser."/>
                    </p>
                    <h2>Non-LTI Authentication</h2>
                    <p>
                        When signing an API request, the following headers MUST be included in the signature calculation:
                        <pre>['request-line','accept','date','host','x-api-proxy']</pre>
                        Where request-line include both method and path of the request, and x-api-proxy is the
                        kerberos username of the student / user. They MUST also appear in that
                        order. The HTTP_AUTHORIZATION header should look something like:
                        <pre>'Signature headers="request-line accept date host x-api-proxy",keyId="some-key",algorithm="hmac-sha256",signature="5CUB27wqW+oPx0ZI/xMhCaU3v/3My4JMeeP5PbWO9Xg="'</pre>
                        You can compare your hashing algorithm with the following input / output.
                        <pre>Headers     : {'Date': 'Tue, 17 Jun 2014 19:26:25 GMT', 'Host': 'testserver:80', 'X-Api-Proxy': 'cjshaw@mit.edu', 'X-Api-Key': 'afakepublicKey!23', 'Accept': 'application/json'}
Secret key  : mdnAf0vTHSU/Ap1qbzZDFblHdiepcPZZ7C7B6p98
Method      : 'GET'
Path        : '/api/v2/assessment/banks/'

Output      : 'Signature headers="request-line accept date host x-api-proxy",keyId="afakepublicKey!23",algorithm="hmac-sha256",signature="tbxfhvEDF/XNvcKiGLLklBpj8ewVVoXfTqqYVwwGV9Q="'</pre>
                        Note that the path requested must be un-encoded. Example:
                        <pre>'/api/v2/assessment/banks/assessment.Bank:53a071c7ea061a0abff13681@birdland.mit.edu/'</pre>
                        Instead of:
                        <pre>'/api/v2/assessment/banks/assessment.Bank%3A53a071c7ea061a0abff13681%40birdland.mit.edu/'</pre>
                    </p>
                    <h2>LTI Authentication</h2>
                    <p>
                        If passing in LTI student data, a second set of parameters needs to be used in the
                        signature calculation (in this order):
                        <pre>['request-line','accept','date','host','x-api-proxy','lti-user-id','lti-tool-consumer-instance-guid','lti-user-role','lti-bank']</pre>
                        Note that this is NOT needed for instructor actions -- do those with non-LTI
                        headers (as above), and make sure that the X-Api-Proxy user is a staff / instructor
                        in the Assessment Service.
                    </p>
                    <h3>Example Workflows</h3>
                    <p>
                        <p>You can see an example workflow from an LTI provider for an instructor
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_instructor.pdf">here</a>.
                        </p>
                        <p>You can see an example workflow from an LTI provider for a learner
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_learner.pdf">here</a>.
                        </p>
                    </p>
                    <h1>Gradebooks</h1>
                    <h2>Introduction</h2>
                    <p>
                        Everything in the service is relative to a Gradebook.
                        Grade systems, gradebook columns, and grade entries live inside of
                        gradebooks. The identifier part of each assessment /
                        gradebook ID will correlate (i.e. the gradebook for assessment
                        bank <code>assessment.Bank%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>
                        will have ID <code>grading.Gradebook%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>).
                    </p>
                    <h2>Authorizations</h2>
                    <p>
                        Authorizations are managed at the gradebook level.
                        A person can be given authorizations to specific actions
                        inside of a gradebook, such as looking up gradebook columns, or
                        creating grade entries. Typically, these are restricted to faculty.
                    </p>
                    <h2>Data Pagination</h2>
                    <p>
                        Note that all "LIST" type endpoints (gradebooks, gradebook columns) will return
                        a list in the "data['results']" attribute, as well as a paginated
                        set of data. "next" and "previous" links are included for your
                        convenience. To get all data in a single page, you would append
                        <code>?page=all</code> to your request URL. To get a specific page,
                        you can include <code>?page=1</code>, substituting the desired
                        page number. Examples are below, in each section. Note that by
                        default, lists are returned in descending chronological order
                        (newest record first).
                    </p>
                    <p>
                        Any "DETAILS" type endpoints
                        will return the attributes directly in the object. For example,
                        the gradebook list below shows two gradebooks in the
                        "data" attribute. Below, we will see that individual gradebook
                        details are embedded directly in a return object.
                    </p>
                    <h2 id="gradebooksList">Listing all gradebooks</h2>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/</pre>
                        A list of all gradebooks on the server is returned.
                        Where possible, the service will always return a "_links" attribute
                        to indicate what other information is available.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "Crosslinks gradebook",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "For grading things",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "Gradebook",
                "id": "grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:555e340133bb727a2cd6a51a@oki-dev.MIT.EDU/"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view gradebooks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/grading/gradebooks/</pre>
                        A simple JSON structure needs to be sent to this endpoint, with
                        the gradebook name and description.
                        <pre>{"name" : "a new gradebook","description" : "this is a test"}</pre>
                        The new gradebook structure is returned.
                        <pre>{
    "displayName": {
        "text": "Crosslinks gradebook",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For grading things",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Gradebook",
    "id": "grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU",
}</pre>
                    </p>
                    <p>
                        If you want to orchestrate the ID (where the central identifier matches
                        that of an assessment bank or repository), just pass in a <code>bankId</code>
                        parameter, like so:
                        <pre>{"name" : "a new gradebook",
    "description" : "this is a test",
    "bankId": "assessment.Bank%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h2>Managing a specific gradebook</h2>
                    <p>
                        Once you have a <code>gradebook_id</code>, you can view and
                        manipulate the specific gradebook.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/</pre>
                        This returns the gradebook details. Note that the data is
                        embedded directly in the returned object, not
                        in a list or as a child of another attribute.
                        <pre>{
    "displayName": {
        "text": "Crosslinks gradebook",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For grading things",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/",
        "gradeSystems": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/gradesystems/",
        "gradebookColumns": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU/columns/"
    },
    "type": "Gradebook",
    "id": "grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view individual gradebooks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A gradebook with the specified <code>gradebook_id</code> was not
                        found. Please verify it exists in the service through the
                        <a href="#gradebooksList">gradebooks</a> endpoint.
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete this gradebook with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>406: {"details": "Gradebook is not empty."}</pre>
                        This gradebook has something (gradesystems, gradebook columns, grade entries)
                        in it. You need to delete those first,
                        before you can delete the entire gradebook.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{"name" : "My new gradebook"}</pre>
                        The updated gradebook structure is returned:
                        <pre>{
    "displayName": {
        "text": "My new gradebook",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For testing",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "Gradebook",
    "id": "grading.Gradebook%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit the attributes of the gradebook with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON or lacks the proper content-type header.
                    </p>
                    <h1>Grade Systems</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        Grade systems define a set of allowable scores / grades, and they are
                        be assigned to gradebook columns to enforce this. They are either
                        score-based or grade-based. Score-based grade systems set
                        minimum and maximum scores, as well as a score increment (i.e. 0 to 100,
                        in increments of 1). Grade-based grade systems relate a numeric
                        score to another value (i.e. 90-100 => A, 80-89 => B).
                    </p>
                    <h2 id="gradeSystemsList">Listing all grade systems in a gradebook</h2>
                    <p>
                        Because grade systems must belong to a gradebook, it is assumed that
                        your app will know the <code>gradebook_id</code> of interest.
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/gradesystems/</pre>
                        Since this is a LIST type call, grade systems are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "numericScoreIncrement": 0.01,
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "highestNumericScore": 1.0,
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/gradesystems/grading.GradeSystem:55ad1e4533bb721a9154c112@bazzim.MIT.EDU/",
                "id": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
                "grades": [],
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "GradeSystem",
                "lowestNumericScore": 0.0,
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "basedOnGrades": null
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/gradesystems/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view grade systems in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/gradesystems/</pre>
                        To create a new grade system, you can supply the optional base
                        attributes: name, or description. You use the <code>basedOnGrades</code> flag
                        to indicate if you will supply numeric score values or a set of grade
                        definitions. By default grade systems are score-based.
                        For score-based grade systems:
                        <pre>{
    "name": "100-point",
    "description": "Scores ranging from 0 to 100",
    "highestScore": 100.0,
    "lowestScore": 0.0,
    "scoreIncrement": 1.0
}</pre>
                    To set a grade-based system:
                    <pre>{
    "name": "A - F",
    "description": "Scores from A to F",
    "basedOnGrades": true,
    "grades": [
        {
            "inputScoreStartRange": 90,
            "inputScoreEndRange": 100,
            "outputScore": <optional>,
            "name": "A",
            "description": "The highest grade"},
        {
            "inputScoreStartRange": 80,
            "inputScoreEndRange": 89,
            "outputScore": <optional>,
            "name": "B",
            "description": "The second highest grade"},
        {
            "inputScoreStartRange": 70,
            "inputScoreEndRange": 79,
            "outputScore": <optional>,
            "name": "C",
            "description": "The middle grade"},
        {
            "inputScoreStartRange": 60,
            "inputScoreEndRange": 69,
            "outputScore": <optional>,
            "name": "D",
            "description": "Unacceptable"},
        {
            "inputScoreStartRange": 0,
            "inputScoreEndRange": 59,
            "outputScore": <optional>,
            "name": "F",
            "description": "We need to talk"},
    ]
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create grade systems in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <p>
                        <pre>500: {"details": "At least one of the following must be passed in: [\\"name\\", \\"description\\"]"}</pre>
                        You need to supply the missing <code><key></code> parameter in your
                        input parameters.
                    </p>
                    <h2>Managing a specific grade system</h2>
                    <p>
                        Once you have a <code>gradebook_id</code> and a <code>grade_system_id</code>,
                        you can view and manipulate the specific grade system.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/gradesystems/&lt;grade_system_id&gt;/</pre>
                        This returns the grade system details.
                        <pre>{
    "numericScoreIncrement": 0.01,
    "displayName": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "highestNumericScore": 1.0,
    "id": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
    "grades": [],
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/gradesystems/grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "GradeSystem",
    "lowestNumericScore": 0.0,
    "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
    "basedOnGrades": null
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view grade system details for the specific gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A grade system with the specified <code>grade_system_id</code>
                        (or a gradebook with its
                        <code>gradebook_id</code>) was not
                        found. Please verify it exists in the current gradebook through the
                        <a href="#gradeSystemsList">grade systems</a> endpoint (or the
                        <a href="#gradebookList">gradebooks</a> endpoint).
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/gradesystems/&lt;grade_system_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete grade systems in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/gradesystems/&lt;grade_system_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "name": "Grade system for Math 101"
}</pre>
                        The updated grade system is returned. Note that you can only edit
                        things if the grade system has not been used for grade entries.
                        <pre>{
    "numericScoreIncrement": 0.01,
    "displayName": {
        "text": "Grade system for Math 101",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "highestNumericScore": 1.0,
    "id": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
    "grades": [],
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/gradesystems/grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "GradeSystem",
    "lowestNumericScore": 0.0,
    "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
    "basedOnGrades": null
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit grade systems in the gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h1>Gradebook Columns</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        Gradebook columns relate two things to each other (as in a spreadsheet).
                        Imagine that each column represents an assessment question, or the item
                        being evaluated. Each row represents some scoring of this item (and each
                        entry in a cell is a Grade Entry, to be discussed
                        <a href="#gradeEntries">later</a>). Columns are tied to specific
                        grade systems, which define the acceptable values for each grade entry.
                    </p>
                    <h2 id="gradebookColumnsList">Listing all gradebook columns in a gradebook</h2>
                    <p>
                        Because gradebook columns must belong to a gradebook, it is assumed that
                        your app will know the <code>gradebook_id</code> of interest.
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/</pre>
                        Since this is a LIST type call, gradebook columns are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 2,
        "next": null,
        "previous": null,
        "results": [
            {
                "gradeSystemId": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "displayName": {
                    "text": "Gradebook column for AA100x_Matching_airfoils_and_pressure_distributions",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/",
                "type": "GradebookColumn",
                "id": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU"
            },
            {
                "gradeSystemId": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "displayName": {
                    "text": "Gradebook column for AA100x_Streamline_curvature_application_to_a_reflexed_airfoil",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c14f@bazzim.MIT.EDU/",
                "type": "GradebookColumn",
                "id": "grading.GradebookColumn%3A55ad1e4533bb721a9154c14f%40bazzim.MIT.EDU",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU"
            }
        ]
    }
 }</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view gradebook columns in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/</pre>
                        To create a new gradebook column, you can supply the optional base
                        attributes: name, or description. You must also supply the required
                        <code>gradeSystemId</code> value, linking this column to an existing
                        grade system (it can reside in the same gradebook or a different one).
                        Note that, as long as no grade entries exist in this gradebook column,
                        you can always change the grade system later.
                        <pre>{
    "gradeSystemId": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
    "name": "Gradebook column for AA100x_Matching_airfoils_and_pressure_distributions"
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create gradebook columns in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <p>
                        <pre>500: {"details": "\\"gradeSystemId\\" required in input parameters but not provided.]"}</pre>
                        You need to supply the missing <code><key></code> parameter in your
                        input parameters.
                    </p>
                    <h2>Managing a specific gradebook column</h2>
                    <p>
                        Once you have a <code>gradebook_id</code> and a <code>column_id</code>,
                        you can view and manipulate the specific gradebook column.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/</pre>
                        This returns the gradebook column details.
                        <pre>{
    "gradeSystemId": "grading.GradeSystem%3A55ad1e4533bb721a9154c112%40bazzim.MIT.EDU",
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/columns/grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU/",
        "summary": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/columns/grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU/summary/",
        "entries": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/columns/grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU/../../entries/"
    },
    "displayName": {
        "text": "Gradebook column for AA100x_Matching_airfoils_and_pressure_distributions",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "GradebookColumn",
    "id": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
    "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view gradebook column details for the specific gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A grade system with the specified <code>column_id</code>
                        (or a gradebook with its
                        <code>gradebook_id</code>) was not
                        found. Please verify it exists in the current gradebook through the
                        <a href="#gradebookColumnsListList">gradebook columns</a> endpoint (or the
                        <a href="#gradebookList">gradebooks</a> endpoint).
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete gradebook columns in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "name": "Gradebook column for PSet 1"
}</pre>
                        The updated gradebook column is returned.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit gradebook columns in the gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h3 id="gradeEntries">Grade Entries</h3>
                    <p>
                        Grade entries relate a score or a grade to a resource (i.e. a user).
                        It also has an optional <code>ignoredForCalculations</code> attribute
                        that determines if the entry is included in the
                        <a href="#gradebookColumnSummary">column summary</a>.
                    </p>
                    <h4 id="gradeEntriesList">Listing all grade entries in a gradebook column</h4>
                    <p>
                        Because grade entries must belong to a gradebook column, it is assumed that
                        your app will know both the <code>gradebook_id</code> and
                        <code>column_id</code> of interest.
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/entries/</pre>
                        Since this is a LIST type call, grade entries are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 1024,
        "next": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/?page=2",
        "previous": null,
        "results": [
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 58,
                    "microsecond": 126565,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A2%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4633bb721a9154c17c@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 58,
                    "microsecond": 126968,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4633bb721a9154c17c%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 58,
                    "microsecond": 346681,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A8%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4633bb721a9154c1a8@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 58,
                    "microsecond": 347125,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4633bb721a9154c1a8%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 58,
                    "microsecond": 601966,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A15%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4633bb721a9154c1df@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 58,
                    "microsecond": 602368,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4633bb721a9154c1df%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 58,
                    "microsecond": 912785,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A26%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4633bb721a9154c217@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 58,
                    "microsecond": 913247,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4633bb721a9154c217%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 58,
                    "microsecond": 955821,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A33%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4633bb721a9154c21b@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 58,
                    "microsecond": 956247,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4633bb721a9154c21b%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 0.5,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 59,
                    "microsecond": 115627,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A38%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4733bb721a9154c23e@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 59,
                    "microsecond": 116042,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4733bb721a9154c23e%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 59,
                    "microsecond": 435053,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A46%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4733bb721a9154c284@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 59,
                    "microsecond": 435556,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4733bb721a9154c284%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 59,
                    "microsecond": 867580,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A58%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4733bb721a9154c2ea@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 59,
                    "microsecond": 867996,
                    "year": 2015,
                    "day": 20,
                    "minute": 13
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4733bb721a9154c2ea%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 0,
                    "microsecond": 6935,
                    "year": 2015,
                    "day": 20,
                    "minute": 14
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A63%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4833bb721a9154c308@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 0,
                    "microsecond": 7325,
                    "year": 2015,
                    "day": 20,
                    "minute": 14
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4833bb721a9154c308%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 0.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            },
            {
                "startDate": {
                    "hour": 12,
                    "month": 7,
                    "second": 0,
                    "microsecond": 302752,
                    "year": 2015,
                    "day": 20,
                    "minute": 14
                },
                "endDate": {
                    "hour": 23,
                    "month": 12,
                    "second": 59,
                    "microsecond": 999999,
                    "year": 9999,
                    "day": 31,
                    "minute": 59
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "resourceId": "osid.agent.Agent%3A72%40MIT-ODL",
                "derived": false,
                "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook:55ad1dfb33bb721a68fed792@bazzim.MIT.EDU/columns/grading.GradebookColumn:55ad1e4533bb721a9154c150@bazzim.MIT.EDU/entries/../../../entries/grading.GradeEntry:55ad1e4833bb721a9154c349@bazzim.MIT.EDU/",
                "timeGraded": {
                    "hour": 16,
                    "month": 7,
                    "second": 0,
                    "microsecond": 303172,
                    "year": 2015,
                    "day": 20,
                    "minute": 14
                },
                "type": "GradeEntry",
                "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
                "id": "grading.GradeEntry%3A55ad1e4833bb721a9154c349%40bazzim.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "gradeId": "",
                "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
                "score": 1.0,
                "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "overriddenCalculatedEntryId": "",
                "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
                "ignoredForCalculations": null
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/columns/grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU/entries/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view grade entries in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/entries/</pre>
                        To create a new grade entry, you can supply the optional base
                        attributes: name, or description. You must also supply the required
                        <code>resourceId</code> value, linking this column to an existing
                        resource (i.e. a person). You should also supply a <code>grade</code>
                        or <code>score</code>, or you will have to update the
                        grade entry later with this information.
                        <pre>{
    "name": "a grade",
    "description": "entry",
    "columnId": self.column['id'],
    "ignoredForCalculations": True,
    "resourceId": user['id'],
    "score": 52.1
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create grade entries in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <p>
                        <pre>500: {"details": "\\"resourceId\\" required in input parameters but not provided.]"}</pre>
                        You need to supply the missing <code><key></code> parameter in your
                        input parameters.
                    </p>
                    <h2>Managing a specific grade entry</h2>
                    <p>
                        Once you have a <code>gradebook_id</code>, a <code>column_id</code>, and
                        a <code>entry_id</code>,
                        you can view and manipulate the specific grade entry.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/entries/&lt;entry_id&gt;/</pre>
                        This returns the grade entry details.
                        <pre>{
    "startDate": {
        "hour": 12,
        "month": 7,
        "second": 0,
        "microsecond": 302752,
        "year": 2015,
        "day": 20,
        "minute": 14
    },
    "endDate": {
        "hour": 23,
        "month": 12,
        "second": 59,
        "microsecond": 999999,
        "year": 9999,
        "day": 31,
        "minute": 59
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "resourceId": "osid.agent.Agent%3A72%40MIT-ODL",
    "derived": false,
    "gradingAgentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
    "timeGraded": {
        "hour": 16,
        "month": 7,
        "second": 0,
        "microsecond": 303172,
        "year": 2015,
        "day": 20,
        "minute": 14
    },
    "type": "GradeEntry",
    "agentId": "osid.agent.Agent%3Acjshaw%2540mit.edu%40MIT-ODL",
    "id": "grading.GradeEntry%3A55ad1e4833bb721a9154c349%40bazzim.MIT.EDU",
    "displayName": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "gradeId": "",
    "gradebookColumnId": "grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU",
    "score": 1.0,
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/entries/grading.GradeEntry%3A55ad1e4833bb721a9154c349%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "overriddenCalculatedEntryId": "",
    "gradebookId": "grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU",
    "ignoredForCalculations": null
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view grade entry details for the specific gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A grade entry with the specified <code>entry_id</code>
                        (or a gradebook with its
                        <code>gradebook_id</code>) was not
                        found. Please verify it exists in the current gradebook through the
                        <a href="#gradebookColumnsListList">gradebook columns</a> endpoint (or the
                        <a href="#gradebookList">gradebooks</a> endpoint).
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/entries/&lt;entry_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete grade entries in this gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/entries/&lt;entry_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "score": 85.2
}</pre>
                        The updated grade entry is returned.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit grade entries in the gradebook. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>

                    <h3 id="gradebookColumnSummary">Gradebook Column Summary</h3>
                    <p>
                        <pre>GET /api/v2/grading/gradebooks/&lt;gradebook_id&gt;/columns/&lt;column_id&gt;/summary/</pre>
                        Each gradebook column has a summary page with some basic statistics about its
                        grade entries (the ones included for calculation). Currently, we offer
                        the following calculations:
                        <ul>
                            <li>Mean</li>
                            <li>Median</li>
                            <li>Mode</li>
                            <li>Root-mean-squared</li>
                            <li>Standard deviation</li>
                            <li>Sum</li>
                        </ul>
                        An example: <pre>{
    "sum": "960.0",
    "median": "1.0",
    "standardDeviation": "0.2037250751625827723307178612",
    "rootMeanSquared": "0.9593800895630469566077153206",
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/grading/gradebooks/grading.Gradebook%3A55ad1dfb33bb721a68fed792%40bazzim.MIT.EDU/columns/grading.GradebookColumn%3A55ad1e4533bb721a9154c150%40bazzim.MIT.EDU/summary/"
    },
    "mode": "1.0",
    "mean": "0.9375"
}</pre>
                    </p>
                    <h1>Help</h1>
                    <h2>Contact</h2>
                    Please reach out to assessments-admin [at] mit [dot] edu if you have
                    any issues or questions about this service.
                    <h6>v0.2 June 2015</h6>
                </div>
            </div>
        </div>
    </div>
</body>
</html>