<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Documentation for MIT Logging Service, V2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIT Logging Service Documentation, V2">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.tocify.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/repository/style.css"/>

    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</head>
<body class="portal">
    {% csrf_token %}
    <div id="docs_container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div id="docs_nav"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="docs_inner_wrapper">
                    <h1>Introduction to the logging service, V2</h1>

                    <h2>Servers</h2>
                    <p>
                        We currently support three servers, a production server, a demo server,
                        and a development server. We encourage you to test your app against
                        the development server before switching to the demo / production service.
                        Note that data on the development and demo servers has no permanence or
                        guarantee against changes.
                    </p>
                    <p>
                        Development server:
                        <pre>https://qbank-dev.mit.edu/api/v2/grading/</pre>
                        Demo server:
                        <pre>https://qbank-demo.mit.edu/api/v2/grading/</pre>
                        Production server:
                        <pre>https://qbank.mit.edu/api/v2/grading/</pre>
                    </p>
                    <h2>Developer Notes</h2>
                    <p>
                        <ul>
                            <li>You must use one of the authentication methods outlined
                            in this document. There is no guest access.</li>
                            <li>If you need a public / private keypair, contact
                            assessments-admin [at] mit [dot] edu.</li>
                        </ul>
                    </p>
                    <h1 id="authentications">Authentication</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        RESTful API requires use of signature verfication via public / private key, like Amazon AWS.
                        Currently, we use a library that follows the draft IETF standards for signing HTTP requests:
                        <pre><a href="https://datatracker.ietf.org/doc/draft-cavage-http-signatures/">https://datatracker.ietf.org/doc/draft-cavage-http-signatures/</a></pre>
                        Apps that will use a signed HTTP request will need to pass in the username of the
                        user they with to authenticate. This should be in an 'X-Api-Proxy' header. The app's
                        public key should go in the 'X-Api-Key' header.
                    </p>
                    <h2>Touchstone Authentication</h2>
                    <p>
                        In a web browser, if you have been granted permission, you may
                        view an interactive version of the API. This can help with debugging
                        and testing, as it lets you POST, PUT, GET, and DELETE objects
                        within each endpoint of the service. To reach this endpoint,
                        add "/touchstone/" to the root URL of any call.
                        <pre>https://qbank-dev.mit.edu/api/v2/resource/</pre>
                        Becomes:
                        <pre>https://qbank-dev.mit.edu/touchstone/api/v2/resource/</pre>
                        <img class="doc_image" src="{{ STATIC_URL }}images/service_in_browser.png" alt="Screenshot of the API's UI in a browser."/>
                    </p>
                    <h2>Non-LTI Authentication</h2>
                    <p>
                        When signing an API request, the following headers MUST be included in the signature calculation:
                        <pre>['request-line','accept','date','host','x-api-proxy']</pre>
                        Where request-line include both method and path of the request, and x-api-proxy is the
                        kerberos username of the student / user. They MUST also appear in that
                        order. The HTTP_AUTHORIZATION header should look something like:
                        <pre>'Signature headers="request-line accept date host x-api-proxy",keyId="some-key",algorithm="hmac-sha256",signature="5CUB27wqW+oPx0ZI/xMhCaU3v/3My4JMeeP5PbWO9Xg="'</pre>
                        You can compare your hashing algorithm with the following input / output.
                        <pre>Headers     : {'Date': 'Tue, 17 Jun 2014 19:26:25 GMT', 'Host': 'testserver:80', 'X-Api-Proxy': 'cjshaw@mit.edu', 'X-Api-Key': 'afakepublicKey!23', 'Accept': 'application/json'}
Secret key  : mdnAf0vTHSU/Ap1qbzZDFblHdiepcPZZ7C7B6p98
Method      : 'GET'
Path        : '/api/v2/assessment/banks/'

Output      : 'Signature headers="request-line accept date host x-api-proxy",keyId="afakepublicKey!23",algorithm="hmac-sha256",signature="tbxfhvEDF/XNvcKiGLLklBpj8ewVVoXfTqqYVwwGV9Q="'</pre>
                        Note that the path requested must be un-encoded. Example:
                        <pre>'/api/v2/assessment/banks/assessment.Bank:53a071c7ea061a0abff13681@birdland.mit.edu/'</pre>
                        Instead of:
                        <pre>'/api/v2/assessment/banks/assessment.Bank%3A53a071c7ea061a0abff13681%40birdland.mit.edu/'</pre>
                    </p>
                    <h2>LTI Authentication</h2>
                    <p>
                        If passing in LTI student data, a second set of parameters needs to be used in the
                        signature calculation (in this order):
                        <pre>['request-line','accept','date','host','x-api-proxy','lti-user-id','lti-tool-consumer-instance-guid','lti-user-role','lti-bank']</pre>
                        Note that this is NOT needed for instructor actions -- do those with non-LTI
                        headers (as above), and make sure that the X-Api-Proxy user is a staff / instructor
                        in the Assessment Service.
                    </p>
                    <h3>Example Workflows</h3>
                    <p>
                        <p>You can see an example workflow from an LTI provider for an instructor
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_instructor.pdf">here</a>.
                        </p>
                        <p>You can see an example workflow from an LTI provider for a learner
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_learner.pdf">here</a>.
                        </p>
                    </p>
                    <h1>Logs</h1>
                    <h2>Introduction</h2>
                    <p>
                        Everything in the service is relative to a Log.
                        Log entries live inside of
                        logs. The identifier part of each assessment /
                        log ID will correlate (i.e. the log for assessment
                        bank <code>assessment.Bank%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>
                        will have ID <code>logging.Log%3A5547c37cea061a6d3f0ffe71%40cs-macbook-pro</code>).
                    </p>
                    <h2>Authorizations</h2>
                    <p>
                        Authorizations are managed at the log level.
                        A person can be given authorizations to specific actions
                        inside of a log, such as looking up log entries.
                        Typically, these are restricted to faculty.
                    </p>
                    <h2>Data Pagination</h2>
                    <p>
                        Note that all "LIST" type endpoints (logs, log entries) will return
                        a list in the "data['results']" attribute, as well as a paginated
                        set of data. "next" and "previous" links are included for your
                        convenience. To get all data in a single page, you would append
                        <code>?page=all</code> to your request URL. To get a specific page,
                        you can include <code>?page=1</code>, substituting the desired
                        page number. Examples are below, in each section. Note that by
                        default, lists are returned in descending chronological order
                        (newest record first).
                    </p>
                    <p>
                        Any "DETAILS" type endpoints
                        will return the attributes directly of the object. For example,
                        <a href="#viewSingleLog">getting a single log</a> gets its details
                        directly, without a list.
                    </p>
                    <h2 id="logsList">Listing all logs</h2>
                    <p>
                        <pre>GET /api/v2/logging/logs/</pre>
                        A list of all logs on the server is returned.
                        Where possible, the service will always return a "_links" attribute
                        to indicate what other information is available.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "a test log",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "for demos",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "license": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log:56f03ef80c40d0fc959888bb@bazzim.MIT.EDU/",
                "recordTypeIds": [],
                "providerId": "",
                "brandingIds": [],
                "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
                "type": "Log",
                "id": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view logs with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/logging/logs/</pre>
                        A simple JSON structure needs to be sent to this endpoint, with
                        the log name and description.
                        <pre>{"name" : "a new log","description" : "this is a test"}</pre>
                        The new log structure is returned.
                        <pre>{
    "displayName": {
        "text": "a test log",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "for demos",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "license": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "providerId": "",
    "brandingIds": [],
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "type": "Log",
    "id": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <p>
                        If you want to orchestrate the ID (where the central identifier matches
                        that of an assessment bank or repository), just pass in a <code>bankId</code>
                        parameter, like so:
                        <pre>{"name" : "a new log",
    "description" : "this is a test",
    "bankId": "assessment.Bank%3A555e340133bb727a2cd6a51a%40oki-dev.MIT.EDU"
}</pre>
                    </p>
                    <h2>Managing a specific log</h2>
                    <p>
                        Once you have a <code>log_id</code>, you can view and
                        manipulate the specific log.
                    </p>
                    <h3 id="viewSingleLog">Viewing</h3>
                    <p>
                        <pre>GET /api/v2/logging/logs/&lt;log_id&gt;/</pre>
                        This returns the log details. Note that the data is
                        embedded directly in the returned object, not
                        in a list or as a child of another attribute.
                        <pre>{
    "displayName": {
        "text": "a test log",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "for demos",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "license": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "providerId": "",
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU/",
        "logEntries": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU/logentries/"
    },
    "brandingIds": [],
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "type": "Log",
    "id": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view individual logs with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A log with the specified <code>log_id</code> was not
                        found. Please verify it exists in the service through the
                        <a href="#logsList">logs</a> endpoint.
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/logging/logs/&lt;log_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete this log with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>406: {"details": "Log is not empty."}</pre>
                        This log has something (i.e. log entries)
                        in it. You need to delete those first,
                        before you can delete the entire log.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/logging/logs/&lt;log_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{"name" : "My new log"}</pre>
                        The updated log structure is returned:
                        <pre>{
    "displayName": {
        "text": "my updated log",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "for demos",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "license": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "providerId": "",
    "brandingIds": [],
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "type": "Log",
    "id": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit the attributes of the log with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON or lacks the proper content-type header.
                    </p>
                    <h2 id="logEntries">Log Entries</h2>
                    <p>
                        Log entries allow an agent or resource to preserve data, leaving the
                        reponsibility of interpreting this data to consuming applications. For
                        example, we typically let log entries be submitted as text blobs (i.e. JSON-strings),
                        and the service is ignorant of the data submitted.
                    </p>
                    <h4 id="logEntriesList">Listing all log entries in a log</h4>
                    <p>
                        Because grade entries must belong to a log, it is assumed that
                        your app will know the
                        <code>log_id</code> of interest.
                        <pre>GET /api/v2/logging/logs/&lt;log_id&gt;/logentries/</pre>
                        Since this is a LIST type call, log entries are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [
                    "logging.LogEntry%3Atext-blob%40ODL.MIT.EDU"
                ],
                "timestamp": {
                    "hour": 0,
                    "month": 1,
                    "second": 0,
                    "microsecond": 0,
                    "year": 1,
                    "day": 1,
                    "minute": 0
                },
                "priorityId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log:56f03ef80c40d0fc959888bb@bazzim.MIT.EDU/logentries/logging.LogEntry:56f040dc0c40d0fc959888bc@bazzim.MIT.EDU/",
                "logId": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU",
                "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
                "text": {
                    "text": "foo",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "scriptTypeId": "15924%3ALATN%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
                },
                "assignedLogIds": [
                    "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
                ],
                "agentId": "",
                "type": "LogEntry",
                "id": "logging.LogEntry%3A56f040dc0c40d0fc959888bc%40bazzim.MIT.EDU"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU/logentries/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view log entries in this log. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/logging/logs/&lt;log_id&gt;/logentries/</pre>
                        To create a new log entry, you can supply a text blob in the
                        <code>data</code> value (i.e. a JSON string).
                        <pre>{
    "data": "something you want to log"
}</pre>
                    </p>
                    <h2>Querying</h2>
                    <p>
                        You can add query params to limit your log entry search:
                        <ul>
                            <li><code>agent_id</code> for the agent who created the log entry</li>
                            <li><code>start_date</code> (mm-dd-yyyy) to match against the timestamp</li>
                            <li><code>end_date</code> (mm-dd-yyyy) to match against the timestamp</li>
                            <li><code>keyword</code> to search the text blob of the log entry</li>
                        </ul>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create log entries in this log. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <p>
                        <pre>500: {"details": "\\"data\\" required in input parameters but not provided.]"}</pre>
                        You need to supply the missing <code>data</code> parameter in your
                        input parameters.
                    </p>
                    <h2>Managing a specific log entry</h2>
                    <p>
                        Once you have a <code>log_id</code> and
                        a <code>log_entry_id</code>,
                        you can view and manipulate the specific log entry.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/logging/logs/&lt;log_id&gt;/logentries/&lt;log_entry_id&gt;/</pre>
                        This returns the log entry details.
                        <pre>{
    "displayName": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [
        "logging.LogEntry%3Atext-blob%40ODL.MIT.EDU"
    ],
    "timestamp": {
        "hour": 0,
        "month": 1,
        "second": 0,
        "microsecond": 0,
        "year": 1,
        "day": 1,
        "minute": 0
    },
    "priorityId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "logId": "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU",
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/logging/logs/logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU/logentries/logging.LogEntry%3A56f040dc0c40d0fc959888bc%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "text": {
        "text": "foo",
        "languageTypeId": "639-2%3AENG%40ISO",
        "scriptTypeId": "15924%3ALATN%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net"
    },
    "assignedLogIds": [
        "logging.Log%3A56f03ef80c40d0fc959888bb%40bazzim.MIT.EDU"
    ],
    "agentId": "",
    "type": "LogEntry",
    "id": "logging.LogEntry%3A56f040dc0c40d0fc959888bc%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view log entry details for the specific log. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A log entry with the specified <code>log_entry_id</code>
                        (or a log with its
                        <code>log_id</code>) was not
                        found. Please verify it exists in the current log through the
                        <a href="#logEntriesList">log entries</a> endpoint.
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/logging/logs/&lt;log_id&gt;/logentries/&lt;log_entry_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete log entries in this log. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/logging/logs/&lt;log_id&gt;/logentries/&lt;log_entry_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "data": "updated information"
}</pre>
                        The updated log entry is returned.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit log entries in the log. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>

                    <h1>Help</h1>
                    <h2>Contact</h2>
                    Please reach out to assessments-admin [at] mit [dot] edu if you have
                    any issues or questions about this service.
                    <h6>v0.2 June 2015</h6>
                </div>
            </div>
        </div>
    </div>
</body>
</html>