<!-- HTML template for the footer -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <footer class="footer">
        <div class="text-center">
          <p>Application development and website support provided by the <a href="http://oeit.mit.edu">MIT Office of Educational Innovation and Technology (OEIT).</a></p>
        </div>
    </footer>
</div>