<!-- HTML template for a group item -->
<li class="list-group-item groupItem" data-groupId="<%= groupId %>" data-role="<%= role %>">
    <% if (role == 'Student' || role == 'Learner' || role == 'DepartmentOfficer') { %>
        <i class="fa fa-pencil-square-o" title="Student"></i>
    <% } else if (role == 'TA' || role == 'Instructor' || role == 'DepartmentAdmin') { %>
        <i class="fa fa-university" title="Instructor"></i>
    <% } %>
    <%= groupName %>
    <i class="fa fa-trash-o pull-right remove-user pointer"></i>
</li>