<!-- HTML template for an LTI Consumer -->
<li class="list-group-item ltiConsumer" data-consumerid="<%= consumerId %>">
    <%= consumerKey %>
    <i class="fa fa-trash-o pull-right remove-consumer pointer"></i>
</li>