<!-- HTML template for the navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/">ADMIN</a>
    </div> <!--end of collapsed navbar -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left" id="menu_bar">
            <li>
                <a href="/touchstone/api/v1/assessment/banks/">
                    <i class="fa fa-desktop"></i>
                    API Browser
                </a>
            </li>
            <li>
                <div class="row statusBox resetSides"></div>
            </li>
        </ul>
    </div> <!-- /.navbar-collapse -->
    <div class="pull-right">
        <div class="xmlBtn pointer btn btn-warning" style="display:none;">
            <span>View Current XML</span>
        </div>
    </div>
    <div class="pull-right" id="bucketBtnWrapper" style="display:none;">
        <div class="bucketBtn pointer btn btn-warning">
            <span>Toggle Item Bucket</span>
        </div>
    </div>
</div>