<!-- HTML template for "manipulatable -> label faces" type problem -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questionString">
        <i class="fa fa-question-circle fa-2x"></i>
        <span id="questionString"></span>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 viewsetWrapper">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 topView">
                <img id="topViewImg" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 frontView">
                <img id="frontViewImg" />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 sideView">
                <img id="sideViewImg" />
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 unityWrapper">
        <div id="unityPlayer">
            <div class="missing">
                <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                    <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                </a>
            </div>
        </div>
    </div>
</div>