<!-- HTML template for a secret key -->
<li class="list-group-item secretKeyItem" data-consumerid="<%= consumerId %>">
    <%= consumerSecret %>
    <i class="fa fa-refresh pull-right refreshSecret pointer"></i>
</li>