<!-- HTML template for user management pane -->

<div class="panel panel-default" aria-hidden="true" aria-labelledby="" tabindex="-1">
    <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
    </div>
    <div class="panel-body">
        <div id="userProfileAccordion">
            <h3 class="resetSides">My Information</h3>
            <div class="row resetSides ">
                <div id="myInformation">
                    <div class="form-group">
                        <label for="publicKey">My Public Key: </label>
                        <input id="publicKey" type="text" readonly class="form-control" value="<%= publicKey %>"/>
                    </div>
                    <div class="form-group">
                        <label for="privateKey">My Private Key: </label>
                        <input id="privateKey" type="text" readonly class="form-control" value="<%= privateKey %>"/>
                    </div>
                    <div class="btn btn-primary regenKeys form-group">Regenerate Keys</div>
                    <div class="form-group">
                        <label for="myGroups">My Groups: </label>
                        <ul id="myGroups" class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
            <% if (otherUsers) { %>
                <h3 class="resetSides">Manage Other Users</h3>
                <div class="row resetSides ">
                    <div id="otherUserSettings">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <h4>Users</h4>
                            <ul id="userList" class="list-group">

                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
                            <h4>Groups</h4>
                            <button class="btn btn-success addGroup">
                                <i class="fa fa-plus"></i>
                                Add Group
                            </button>
                            <ul id="groupList" class="list-group">

                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="resetSides" id="ltiConsumers">Manage LTI Consumers</h3>
                <div class="row resetSides ">
                    <div id="ltiConsumerSettings">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <h4>Consumer Key</h4>
                            <button class="btn btn-success btn-small addConsumer">
                                <i class="fa fa-plus"></i>
                                Add Key
                            </button>

                            <ul id="ltiConsumerList" class="list-group">

                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
                            <h4>Secret</h4>
                            <button class="btn btn-danger btn-small refreshAllSecrets">
                                <i class="fa fa-refresh"></i>
                                Refresh All Secrets
                            </button>
                            <ul id="secretList" class="list-group">

                            </ul>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>