<!-- HTML template for wrong answer -->
<div class="btn btn-danger resetProblem">
    <i class="fa fa-undo"> </i>
    Wrong, try again?
</div>
<div class="btn btn-info returnLMS">
    <i class="fa fa-arrow-left"> </i>
    Return to your LMS.
</div>