#lti_container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.questionString {
    margin-top: 15px;
    margin-bottom: 15px;
}

.questionString > span {
    font-size: 150%;
}

#results {
    margin-top: 15px;
    margin-bottom: 15px;
}

#buttons,
#results {
    margin-left: 15px;
}
