<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Documentation for MIT Learning Service, V2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIT Learning Service Documentation, V2">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.tocify.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/repository/style.css"/>

    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</head>
<body class="portal">
    {% csrf_token %}
    <div id="docs_container" class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div id="docs_nav"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="docs_inner_wrapper">
                    <h1>Introduction to the learning service, V2</h1>

                    <h2>Servers</h2>
                    <p>
                        We currently support three servers, a production server, a demo server,
                        and a development server. We encourage you to test your app against
                        the development server before switching to the demo / production service.
                        Note that data on the development and demo servers has no permanence or
                        guarantee against changes.
                    </p>
                    <p>
                        Development server:
                        <pre>https://qbank-dev.mit.edu/api/v2/learning/</pre>
                        Demo server:
                        <pre>https://qbank-demo.mit.edu/api/v2/learning/</pre>
                        Production server:
                        <pre>https://qbank.mit.edu/api/v2/learning/</pre>
                    </p>
                    <h2>Developer Notes</h2>
                    <p>
                        <ul>
                            <li>You must use one of the authentication methods outlined
                            in this document. There is no guest access.</li>
                            <li>If you need a public / private keypair, contact
                            assessments-admin [at] mit [dot] edu.</li>
                        </ul>
                    </p>
                    <h1 id="authentications">Authentication</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        RESTful API requires use of signature verfication via public / private key, like Amazon AWS.
                        Currently, we use a library that follows the draft IETF standards for signing HTTP requests:
                        <pre><a href="https://datatracker.ietf.org/doc/draft-cavage-http-signatures/">https://datatracker.ietf.org/doc/draft-cavage-http-signatures/</a></pre>
                        Apps that will use a signed HTTP request will need to pass in the username of the
                        user they with to authenticate. This should be in an 'X-Api-Proxy' header. The app's
                        public key should go in the 'X-Api-Key' header.
                    </p>
                    <h2>Touchstone Authentication</h2>
                    <p>
                        In a web browser, if you have been granted permission, you may
                        view an interactive version of the API. This can help with debugging
                        and testing, as it lets you POST, PUT, GET, and DELETE objects
                        within each endpoint of the service. To reach this endpoint,
                        add "/touchstone/" to the root URL of any call.
                        <pre>https://qbank-dev.mit.edu/api/v2/resource/</pre>
                        Becomes:
                        <pre>https://qbank-dev.mit.edu/touchstone/api/v2/resource/</pre>
                        <img class="doc_image" src="{{ STATIC_URL }}images/service_in_browser.png" alt="Screenshot of the API's UI in a browser."/>
                    </p>
                    <h2>Non-LTI Authentication</h2>
                    <p>
                        When signing an API request, the following headers MUST be included in the signature calculation:
                        <pre>['request-line','accept','date','host','x-api-proxy']</pre>
                        Where request-line include both method and path of the request, and x-api-proxy is the
                        kerberos username of the student / user. They MUST also appear in that
                        order. The HTTP_AUTHORIZATION header should look something like:
                        <pre>'Signature headers="request-line accept date host x-api-proxy",keyId="some-key",algorithm="hmac-sha256",signature="5CUB27wqW+oPx0ZI/xMhCaU3v/3My4JMeeP5PbWO9Xg="'</pre>
                        You can compare your hashing algorithm with the following input / output.
                        <pre>Headers     : {'Date': 'Tue, 17 Jun 2014 19:26:25 GMT', 'Host': 'testserver:80', 'X-Api-Proxy': 'cjshaw@mit.edu', 'X-Api-Key': 'afakepublicKey!23', 'Accept': 'application/json'}
Secret key  : mdnAf0vTHSU/Ap1qbzZDFblHdiepcPZZ7C7B6p98
Method      : 'GET'
Path        : '/api/v2/assessment/banks/'

Output      : 'Signature headers="request-line accept date host x-api-proxy",keyId="afakepublicKey!23",algorithm="hmac-sha256",signature="tbxfhvEDF/XNvcKiGLLklBpj8ewVVoXfTqqYVwwGV9Q="'</pre>
                        Note that the path requested must be un-encoded. Example:
                        <pre>'/api/v2/assessment/banks/assessment.Bank:53a071c7ea061a0abff13681@birdland.mit.edu/'</pre>
                        Instead of:
                        <pre>'/api/v2/assessment/banks/assessment.Bank%3A53a071c7ea061a0abff13681%40birdland.mit.edu/'</pre>
                    </p>
                    <h2>LTI Authentication</h2>
                    <p>
                        If passing in LTI student data, a second set of parameters needs to be used in the
                        signature calculation (in this order):
                        <pre>['request-line','accept','date','host','x-api-proxy','lti-user-id','lti-tool-consumer-instance-guid','lti-user-role','lti-bank']</pre>
                        Note that this is NOT needed for instructor actions -- do those with non-LTI
                        headers (as above), and make sure that the X-Api-Proxy user is a staff / instructor
                        in the Assessment Service.
                    </p>
                    <h3>Example Workflows</h3>
                    <p>
                        <p>You can see an example workflow from an LTI provider for an instructor
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_instructor.pdf">here</a>.
                        </p>
                        <p>You can see an example workflow from an LTI provider for a learner
                            <a href="http://ds5yycsj1acmu.cloudfront.net/docs/media/LTI_provider_workflow_learner.pdf">here</a>.
                        </p>
                    </p>
                    <h1>Objective Banks</h1>
                    <h2>Introduction</h2>
                    <p>
                        Everything in the service is relative to an Objective Bank.
                        learning objectives and activities live inside of
                        objective banks. The identifier part of each assessment bank /
                        objective bank ID will correlate (i.e. the objective bank for assessment
                        bank <code>assessment.Bank%3A5547c37cea061a6d3f0ffe71%40ODL.MIT.EDU</code>
                        will have ID <code>learning.ObjectiveBank%3A5547c37cea061a6d3f0ffe71%40ODL.MIT.EDU</code>).
                    </p>
                    <h2>Authorizations</h2>
                    <p>
                        Authorizations are managed at the objective bank level.
                        A person can be given authorizations to specific actions
                        inside of an objective bank, such as looking up objectives, or
                        creating activities. Typically, these are restricted to faculty.
                    </p>
                    <h2>Data Pagination</h2>
                    <p>
                        Note that all "LIST" type endpoints (objective banks, objectives) will return
                        a list in the "data['results']" attribute, as well as a paginated
                        set of data. "next" and "previous" links are included for your
                        convenience. To get all data in a single page, you would append
                        <code>?page=all</code> to your request URL. To get a specific page,
                        you can include <code>?page=1</code>, substituting the desired
                        page number. Examples are below, in each section. Note that by
                        default, lists are returned in descending chronological order
                        (newest record first).
                    </p>
                    <p>
                        Any "DETAILS" type endpoints
                        will return the attributes directly in the object. For example,
                        the objective bank list below shows two objective banks in the
                        "data" attribute. Below, we will see that individual objective bank
                        details are embedded directly in a return object.
                    </p>
                    <h2 id="objectiveBanksList">Listing all objective banks</h2>
                    <p>
                        <pre>GET /api/v2/learning/objectivebanks/</pre>
                        A list of all objective banks on the server is returned.
                        Where possible, the service will always return a "_links" attribute
                        to indicate what other information is available.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "displayName": {
                    "text": "Crosslinks objective bank",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "description": {
                    "text": "For learning objectives",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
                "type": "ObjectiveBank",
                "id": "learning.ObjectiveBank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU",
                "_link": "https://qbank-dev.mit.edu/touchstone/api/v2/learning/objectivebanks/learning.ObjectiveBank:555e340133bb727a2cd6a51a@bazzim.MIT.EDU/"
            }
        ]
    },
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/learning/objectivebanks/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view objective banks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/learning/objectivebanks/</pre>
                        A simple JSON structure needs to be sent to this endpoint, with
                        the objective bank name and description.
                        <pre>{"name" : "a new objective bank","description" : "this is a test"}</pre>
                        The new objective bank structure is returned.
                        <pre>{
    "displayName": {
        "text": "Crosslinks objective bank",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For learning things",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "objective bank",
    "id": "learning.ObjectiveBank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU",
}</pre>
                    </p>
                    <p>
                        If you want to orchestrate the ID (where the central identifier matches
                        that of an assessment bank or repository), just pass in a <code>bankId</code>
                        parameter, like so:
                        <pre>{"name" : "a new objective bank",
    "description" : "this is a test",
    "bankId": "assessment.Bank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h2>Managing a specific objective bank</h2>
                    <p>
                        Once you have a <code>objectivebank_id</code>, you can view and
                        manipulate the specific objective bank.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/</pre>
                        This returns the objective bank details. Note that the data is
                        embedded directly in the returned object, not
                        in a list or as a child of another attribute.
                        <pre>{
    "displayName": {
        "text": "Crosslinks objective bank",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For learning things",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "_links": {
        "self": "https://qbank-dev.mit.edu/touchstone/api/v2/learning/objectivebanks/learning.objective bank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU/",
        "proficiencies": "https://qbank-dev.mit.edu/touchstone/api/v2/learning/objectivebanks/learning.ObjectiveBank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU/proficiencies/"
    },
    "type": "ObjectiveBank",
    "id": "learning.ObjectiveBank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view individual objective banks with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A objective bank with the specified <code>objectivebank_id</code> was not
                        found. Please verify it exists in the service through the
                        <a href="#objectivebanksList">objective banks</a> endpoint.
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete this objective bank with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>406: {"details": "objective bank is not empty."}</pre>
                        This objective bank has something (proficiencies)
                        in it. You need to delete those first,
                        before you can delete the entire objective bank.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{"name" : "My new objective bank"}</pre>
                        The updated objective bank structure is returned:
                        <pre>{
    "displayName": {
        "text": "My new objective bank",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "description": {
        "text": "For testing",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40okapia.net",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "genusType": "GenusType%3ADEFAULT%40dlkit.mit.edu",
    "type": "ObjectiveBank",
    "id": "learning.ObjectiveBank%3A555e340133bb727a2cd6a51a%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit the attributes of the objective bank with this service. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON or lacks the proper content-type header.
                    </p>
                    <h1>Proficiencies</h1>
                    <h2>Introduction</h2>
                    <p class="">
                        Proficiencies define a relationship between a learner and a learning
                        objective. They include a completion percentage and a <code>gradeId</code>
                        (for more details on how to set up grades, see the
                        <a href="/api/v2/grading/docs/">grading service</a>).
                    </p>
                    <h2 id="proficienciesList">Listing all proficiencies in a objective bank</h2>
                    <p>
                        Because proficiencies must belong to a objective bank, it is assumed that
                        your app will know the <code>objectivebank_id</code> of interest.
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies/</pre>
                        Since this is a LIST type call, proficiencies are returned in the
                        "data" attribute.
                        <pre>{
    "data": {
        "count": 1,
        "next": null,
        "previous": null,
        "results": [
            {
                "completion": 65.0,
                "startDate": {
                    "hour": 0,
                    "month": 1,
                    "second": 0,
                    "microsecond": 0,
                    "year": 2016,
                    "day": 1,
                    "minute": 0
                },
                "objectivebankId": "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU",
                "endDate": {
                    "hour": 0,
                    "month": 1,
                    "second": 0,
                    "microsecond": 0,
                    "year": 2016,
                    "day": 31,
                    "minute": 0
                },
                "description": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "recordTypeIds": [],
                "objectiveId": "mc3-objective%3A3834%40MIT-OEIT",
                "resourceId": "osid.agent.Agent%3Astudent%2540mit.edu%40MIT-ODL",
                "levelId": "grading.Grade%3A537645b7ea061a3f0df7cb2a%40bazzim.MIT.EDU",
                "_link": "http://127.0.0.1:8003/api/v2/learning/objectivebanks/learning.ObjectiveBank:537645b7ea061a3f0df70bda@bazzim.MIT.EDU/proficiencies/learning.Proficiency:5699467058b53712dcd98814@bazzim.MIT.EDU/",
                "assignedObjectivebankIds": [
                    "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU"
                ],
                "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
                "displayName": {
                    "text": "",
                    "languageTypeId": "639-2%3AENG%40ISO",
                    "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
                    "scriptTypeId": "15924%3ALATN%40ISO"
                },
                "type": "Proficiency",
                "id": "learning.Proficiency%3A5699467058b53712dcd98814%40bazzim.MIT.EDU"
            }
        ]
    },
    "_links": {
        "self": "http://127.0.0.1:8003/api/v2/learning/objectivebanks/learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU/proficiencies/"
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view proficiencies in this objective bank. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h2>Creating</h2>
                    <p>
                        <pre>POST /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies/</pre>
                        To create a new proficiency, you can supply the optional base
                        attributes: name, or description. The more important attributes are
                        the <code>objectiveId</code>, <code>resourceId</code>, and possible
                        <code>startDate</code> and <code>endDate</code> dictionaries. You can also
                        set the <code>levelId</code> (with a gradeId) or the <code>completion</code>:
                        <pre>{
    'objectiveId': 'mc3-objective%3A3834%40MIT-OEIT,
    'resourceId': 'student@mit.edu',
    'completion': '95',
    'levelId': 'grading.Grade%3A537645b7ea061a3f0df7cb2a%40bazzim.MIT.EDU,
    'startDate': {
        'day': 1,
        'month': 1,
        'year': 2016
    },
    'endDate': {
        'day': 31,
        'month': 1,
        'year': 2016
    }
}</pre>
                    </p>
                    <h3>Error Codes</h3>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to create proficiencies in this objective bank. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <p>
                        <pre>500: {"details": "At least one of the following must be passed in: [\\"name\\", \\"description\\"]"}</pre>
                        You need to supply the missing <code>&lt;key&gt;</code> parameter in your
                        input parameters.
                    </p>
                    <h2>Querying proficiencies</h2>
                    <p>
                        You can query proficiencies by various means, an exact completion percentage,
                        a completion range, a time range, or for a specific user. Some query params
                        are below. Note that the <code>completionStart</code> and <code>completionEnd</code>
                        params need to be used together, but never in conjunction with <code>completion</code>.
                        <ul>
                            <li><code>resourceId</code>: a match on the person whose proficiency is being recorded (i.e. a kerberos ID)</li>
                            <li><code>completion</code>: an exact match on the completion field</li>
                            <li><code>completionStart</code> & <code>completionEnd</code>: a range of values to search the completion field on</li>
                            <li><code>levelId</code>: a gradeId to match in the levelId field</li>
                            <li><code>endDate</code>: an exact match on the end date of the proficiency</li>
                            <li><code>startDate</code>: an exact match on the start date of the proficiency</li>
                            <li><code>endDate</code> & <code>startDate</code>: a date range to match the proficiency on. The returned results are when the supplied date range falls completely within a proficiency's startDate -> endDate range.</li>
                            <li><code>objectiveId</code>: an objective to match the proficiency on.</li>
                        </ul>
                        Example:
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies?objectiveId=objectiveId=mc3-objective%3A12563%40MIT-OEIT</pre>
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies?completion=100</pre>
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies?resourceId=student@mit.edu</pre>
                    </p>
                    <h2>Managing a specific proficiency</h2>
                    <p>
                        Once you have an <code>objectivebank_id</code> and a <code>proficiency_id</code>,
                        you can view and manipulate the specific proficiency.
                    </p>
                    <h3>Viewing</h3>
                    <p>
                        <pre>GET /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies/&lt;proficiency_id&gt;/</pre>
                        This returns the proficiency details.
                        <pre>{
    "completion": 65.0,
    "startDate": {
        "hour": 0,
        "month": 1,
        "second": 0,
        "microsecond": 0,
        "year": 2016,
        "day": 1,
        "minute": 0
    },
    "objectivebankId": "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU",
    "endDate": {
        "hour": 0,
        "month": 1,
        "second": 0,
        "microsecond": 0,
        "year": 2016,
        "day": 31,
        "minute": 0
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "objectiveId": "mc3-objective%3A3834%40MIT-OEIT",
    "resourceId": "osid.agent.Agent%3Astudent%2540mit.edu%40MIT-ODL",
    "levelId": "grading.Grade%3A537645b7ea061a3f0df7cb2a%40bazzim.MIT.EDU",
    "assignedObjectivebankIds": [
        "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU"
    ],
    "_links": {
        "self": "http://127.0.0.1:8003/api/v2/learning/objectivebanks/learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU/proficiencies/learning.Proficiency%3A5699467058b53712dcd98814%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "displayName": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "type": "Proficiency",
    "id": "learning.Proficiency%3A5699467058b53712dcd98814%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to view proficiency details for the specific objective bank. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Object not found"}</pre>
                        A proficiency with the specified <code>proficiency_id</code>
                        (or a objective bank with its
                        <code>objectivebank_id</code>) was not
                        found. Please verify it exists in the current objective bank through the
                        <a href="#proficienciesList">proficiencies</a> endpoint (or the
                        <a href="#objectivebankList">objective banks</a> endpoint).
                    </p>
                    <h3>Deleting</h3>
                    <p>
                        <pre>DELETE /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies/&lt;proficiency_id&gt;/</pre>
                        An empty, 204 response is returned when this is successful.
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to delete proficiencies in this objective bank. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <h3>Updating</h3>
                    <p>
                        <pre>PUT /api/v2/learning/objectivebanks/&lt;objectivebank_id&gt;/proficiencies/&lt;proficiency_id&gt;/</pre>
                        Include the parameter that you wish to change.
                        <pre>{
    "name": "Proficiency for John in Jan 2016"
}</pre>
                        The updated proficiency is returned.
                        <pre>{
    "completion": 65.0,
    "startDate": {
        "hour": 0,
        "month": 1,
        "second": 0,
        "microsecond": 0,
        "year": 2016,
        "day": 1,
        "minute": 0
    },
    "objectivebankId": "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU",
    "endDate": {
        "hour": 0,
        "month": 1,
        "second": 0,
        "microsecond": 0,
        "year": 2016,
        "day": 31,
        "minute": 0
    },
    "description": {
        "text": "",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "recordTypeIds": [],
    "objectiveId": "mc3-objective%3A3834%40MIT-OEIT",
    "resourceId": "osid.agent.Agent%3Astudent%2540mit.edu%40MIT-ODL",
    "levelId": "grading.Grade%3A537645b7ea061a3f0df7cb2a%40bazzim.MIT.EDU",
    "assignedObjectivebankIds": [
        "learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU"
    ],
    "_links": {
        "self": "http://127.0.0.1:8003/api/v2/learning/objectivebanks/learning.ObjectiveBank%3A537645b7ea061a3f0df70bda%40bazzim.MIT.EDU/proficiencies/learning.Proficiency%3A5699467058b53712dcd98814%40bazzim.MIT.EDU/"
    },
    "genusTypeId": "GenusType%3ADEFAULT%40DLKIT.MIT.EDU",
    "displayName": {
        "text": "Proficiency for John in Jan 2016",
        "languageTypeId": "639-2%3AENG%40ISO",
        "formatTypeId": "TextFormats%3APLAIN%40OKAPIA.NET",
        "scriptTypeId": "15924%3ALATN%40ISO"
    },
    "type": "Proficiency",
    "id": "learning.Proficiency%3A5699467058b53712dcd98814%40bazzim.MIT.EDU"
}</pre>
                    </p>
                    <h4>Error Codes</h4>
                    <p>
                        <pre>403: {"details": "Permission denied."}</pre>
                        You have authenticated to the server, but your username is not configured
                        to edit proficiencies in the objective bank. Please contact an administrator.
                    </p>
                    <p>
                        <pre>404: {"details": "Not found"}</pre>
                        This usually indicates a problem with the server-side view.
                        Contact an administrator.
                    </p>
                    <p>
                        <pre>500: {"details": "Poorly formatted input data."}</pre>
                        Your input data is not in the expected format. Most likely
                        it is not proper JSON.
                    </p>
                    <h1>Help</h1>
                    <h2>Contact</h2>
                    Please reach out to assessments-admin [at] mit [dot] edu if you have
                    any issues or questions about this service.
                    <h6>v0.2 June 2015</h6>
                </div>
            </div>
        </div>
    </div>
</body>
</html>