<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<!--
-->
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MIT Assessment Service">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!--Put these jQuery stylesheets here to override the bootstrap ones...
    need to do this so that the search menu results don't get overlaid on top of the input box-->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/bootstrap-dialog.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/assessments/style.css" />
    <script data-main="{{ STATIC_URL }}js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
    <script type="application/javascript">
        var all_groups = "{{ all_groups }}";
        var all_users = "{{ all_users }}";
        var my_groups = "{{ my_groups }}";
        var my_private_key = "{{ my_private_key }}";
        var my_public_key = "{{ my_public_key }}";
        var user_groups = "{{ user_groups }}";
    </script>
    {% block header_script %} {% endblock %}

</head>
<body class="portal">
    {% csrf_token %}
    <div id="navbar_wrapper"></div>
    <div id="container" class="container"></div>
    <div class="row resetSides" id="footer"></div>
</body>
</html>