<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
<!--
-->
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login">
    <meta name="author" content="MIT ODL">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    {% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!--Put these jQuery stylesheets here to override the bootstrap ones...
    need to do this so that the search menu results don't get overlaid on top of the input box-->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/assessments/style.css" />

</head>
<body class="portal">
    <div id="main" class="container-fluid">
        <div id="header" class="text-center row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well well-small ">
                <h1 class="">Assessment Service User Management</h1>
            </div>
        </div>
        <div id="tech_warning" class="text-center row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-12 col-xs-12 col-md-4 col-lg-4">
                <p class="text_bold red">Please note that this website is only compatible with the latest versions of FF / Chrome / Safari on Mac OS or FF / Chrome on Windows. It has not been tested on other combinations.
                </p>
            </div>
        </div>
        <div id="login_container" class="row">
            <div id="email_div" class="box">
                <div class="row reset_left text-center">
                    <form action="{% url 'users:login' %}" method="POST" enctype="multipart/form-data" class="form-signin">
                        {% csrf_token %}
                        <h2 class="form-signin-heading" id="login_heading">Login</h2>
                        <input type="text" class="input-block-level" name="username" placeholder="E-mail">
                        <input type="password" class="input-block-level" name="password" placeholder="Password">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <button id="login" class="btn btn-large btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="status" class="">
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="offset4 span4">
                <p class="logintxt red"> {{ state }} </p>
            </div>
        </div>
    </div>
    <div id="footer" class="container-fluid">
        <div class="row text-center">
            <div class="offset4 span4">
              <p>Application development and website support provided by</p>
              <p>the <a href="http://odl.mit.edu">MIT Office of Digital Learning (ODL).</a></p>
            </div>
        </div>
    </div>
</body>
</html>